{% extends 'app/base.html' %}
{% import 'app/macros.html' as mac %}

{% block page_header %}
  <div class="page-header d-print-none">
    <div class="row align-items-center">
      <div class="col">
        <!-- Page pre-title -->
        <div class="page-pretitle">
          Skema
        </div>
        <h2 class="page-title">
          <span>Tambah Kriteria -- Skema #{{schema.version}}</span>
        </h2>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12 col-md-6">
      <form class="card" method="POST" enctype="multipart/form-data">
        <div class="card-header">
          <div class="card-title">Input Data Kriteria</div>
        </div>
        <div class="card-body">
          <div class="mb-3">
            <label class="form-label">Nama Kriteria</label>
            <input name="nama" type="text" class="form-control" />
          </div>

          <div class="mb-3">
            <label class="form-label">Tipe Kriteria</label>
            {% set options = [ 
              { value: 'NUMBER', label: 'Angka' }, 
              { value: 'OPTIONS', label: 'Text' }] %}
            {{ mac.radio_input('type', options=options) }}
          </div>

          <div class="mb-3">
            <label class="form-check">
              <input 
                class="form-check-input" 
                type="checkbox" 
                value="true"
                name="benefit"
              />
              <span class="form-check-label">Benefit ?</span>
            </label>
          </div>

          <div class="mb-3">
            <label class="form-label">Bobot</label>
            <select name="weight" class="form-control">
              <option value="TIDAK_PENTING">Tidak Penting</option>
              <option value="KURANG_PENTING">Kurang Penting</option>
              <option value="CUKUP_PENTING">Cukup Penting</option>
              <option value="PENTING">Penting</option>
              <option value="SANGAT_PENTING">Sangat Penting</option>
            </select>
          </div>

          <button 
            type="submit" 
            class="btn btn-outline-primary"
          >Submit</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}